<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- 使用spring组件扫描 -->
    <context:component-scan base-package="com.reige.controller"/>
    <!-- 静态资源 解析 -->
    <mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>

    <!--将静态资源交由默认的servlet处理-->
    <mvc:default-servlet-handler />
    <!--重要！将你的SwaggerConfig配置类注入-->
    <bean class="com.reige.config.SwaggerConfig"/>
    <!--重要！配置swagger资源不被拦截-->
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />


    <!-- 通过annotation-driven可以替代下边的处理器映射器和适配器 -->
    <mvc:annotation-driven validator="validator" >
        <mvc:message-converters>
            <ref bean="fastjsonConverter"/>
            <ref bean="stringConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="stringConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/x-www-form-urlencoded;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="fastjsonConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="charset" value="UTF-8"/>
        <property name="features">
            <list>
                <value>WriteNonStringKeyAsString</value>
                <value>WriteMapNullValue</value>
                <value>WriteDateUseDateFormat</value>
                <value>WriteNullBooleanAsFalse</value>
                <value>WriteNullListAsEmpty</value>
                <value>WriteNullNumberAsZero</value>
                <value>WriteNullStringAsEmpty</value>
                <value>SkipTransientField</value>
                <value>QuoteFieldNames</value>
                <value>PrettyFormat</value>
                <value>DisableCircularReferenceDetect</value>
            </list>
        </property>
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/x-www-form-urlencoded;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 配置视图解析器 要求将jstl的包加到classpath -->
    <!-- ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 自定义webBinder -->
    <bean id="customBinder" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
        <!-- 使用converter进行参数转 -->
        <property name="conversionService" ref="conversionService"/>
        <!-- 配置validator -->
        <property name="validator" ref="validator"/>
        <!-- propertyEditorRegistrars用于属性编辑器 -->
        <!-- <property name="propertyEditorRegistrars"> <list> <ref bean="customPropertyEditor"
            /> </list> </property> -->
    </bean>

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为5MB -->
        <property name="maxUploadSize">
            <value>52428800</value>
        </property>
    </bean>
    <!-- 定义统一异常处理器 -->
    <bean class="com.reige.exception.CustomExceptionResolver"/>

    <!-- 注册属性编辑器 -->
    <bean id="customPropertyEditor" class="com.reige.controller.propertyeditor.CustomPropertyEditor"/>

    <!-- 转换器 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.reige.controller.converter.CustomDateConverter"/>
                <bean class="com.reige.controller.converter.StringTrimConverter"/>
            </set>
        </property>
    </bean>

<!--    <mvc:interceptors>
        &lt;!&ndash;多个拦截器,顺序执行 &ndash;&gt;
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.reige.controller.interceptor.HandlerInterceptor1"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.reige.controller.interceptor.HandlerInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!-- 校验器 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!-- 校验器 -->
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!-- 指定校验使用的资源文件，如果不指定则默认使用classpath下的ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <!-- 校验错误信息配置文件 -->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 资源文件名 -->
        <property name="basenames">
            <list>
                <value>validation.CustomValidationMessages</value>
            </list>
        </property>
        <!-- 资源文件编码格式 -->
        <property name="fileEncodings" value="utf-8"/>
        <!-- 对资源文件内容缓存时间，单位秒 -->
        <property name="cacheSeconds" value="120"/>
    </bean>


</beans>